{%extends 'homeMenu.html'%}
{%block content%}
<div>
  {% if user.is_staff %}
      <h3>Create a New Post </h3><hr>
    <form method="post">
      {% csrf_token %}
      <table width="100%">
     {{ form.title }}<br>
     {{form.message}}<br>
     {{form.author}}
      </table>
      <br><br>
      <button id="postButton">Post</button>
    </form>

    <script>
      var name = "{{ user.first_name}} {{ user.last_name }}, {{ user.role }}";
      document.getElementById("authortag").value = name;
    </script>
<br><br>
    <hr>
  {% endif %}

  {% for post in posts %}
  <hr>
  <h3>{{ post.title }}</h3><br>
      <p>{{ post.message }}</p><br>
      <h4>Posted by {{ post.author }}<br>{{ post.created_at}}</h4><br><br>
  
    {% endfor %}
<br><br><br><br>
</div>
<br><br><br><br>
{% endblock %}