{%extends 'homeMenu.html'%}
{%block content%}

    {% if user.is_staff %}
      <p>  User is staff </p>
      <form method="post" action="/news">
        {% csrf_token %}
        {{ form.as_p }}
        <input type ="submit" value="Post">
      </form>

      <hr>
    {% endif %}

    {% for newsPost in object_list %}
    <hr>
    <h3>{{ newsPost.title }}</h3><br>
        <p>{{ newsPost.message }}</p><br>
        <h4>Posted by {{ newsPost.author.first_name|add:' '|add:newsPost.author.last_name|add:', '|add:newsPost.author.role }}<br>{{ newsPost.created_at}}</h4><br><br>
    
{% endfor %}
<br><br><br><br>
{% endblock %}